:root {
    --azul: #3DA5D9;
    --font: #bbbbbb;
    --background: #181818;
    --laranja: #EA7317;
}

body {
    font: normal 1.1em Arial, Helvetica, sans-serif;
    color: var(--font);
    background-color: var(--background);
}

h1, p {
    max-width: 600px;
    margin: auto;    
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#back {
    width: 3em;
    text-align: center;
}

a {
    color: var(--azul);
    text-decoration: none;
}

a:active {
    color: var(--laranja);
}