/*
Irei utilizar um layout híbrido, sendo a maior parte composto pelo layout fluid, para dar melhor responsividade ao site (embora em celulares ainda não fique bom), e as tabelas, com medidas fixas.
*/

@import url('https://fonts.googleapis.com/css2?family=Mali&display=swap');

:root {
    --azul: #3DA5D9;
    --font: #bbbbbb;
    --background: #181818;
    --laranja: #EA7317;
}

body {
    font: normal 1.1em Arial, Helvetica, sans-serif;
    color: var(--font);
    background-color: var(--background);
}

::-moz-selection { /* Code for Firefox */
    color: #000;
    background: #FFF;
}
  
::selection {
    color: #000;
    background: #FFF;
  }

#main {
    float: left;
    width: 60%;
    margin: 0 3% 0 2%;
}

#col2 {
    float: left;
    width: 33%;
    margin: 0 2% 0 0;
}

#games {
    font-family: 'Mali', 'Cursive';
}

a {
    color: var(--azul);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: var(--laranja);
}

table {
    width: 600px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
}

.tabela {
    overflow-x: auto;
}

caption {
    color: white;
    background-color: #000;
    
}